<h1>All members</h1>
<h3>
  <%= @team.team.name if @team %>
</h3>
<% if @team %> 
  <% list_members = @team.team.users %>
  <% list_members.each do |user| %>
    <p>
      <%= user.name %>
      <%= user.email %>
    </p>
  <% end %>   
<% end %>
