<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <h1>All members</h1>
    <h3>
      <%= @team.team.name if @team %>
    </h3>
    <% if @team %> 
      <% list_members = @team.team.users %>
      <% list_members.each do |user| %>
        <p>
          <%= user.name %>
          <%= user.email %>
        </p>
      <% end %>   
    <% end %>
  </body>
</html>
