<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <h1>
      <%= @sub_leader_id %>
      <%= @sub_leader_name %>
      <%= @sub_leader_email %>
      <%= @sub_leader_team %>
    </h1>
  </body>
</html>
