<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <h1>All users</h1>
    <ul class="users">
      <% @users.each do |user| %>
        <% if user.users_teams.where(role: 1).size > 0 %>
          <li class="leader">
        <% else %>
          <li>
        <% end %>
          <%= user.name %>
          <%= user.email %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
