@import "bootstrap-sprockets";
@import "bootstrap";

.leader {
  color: red;
}

.sub-leader {
  color: blue;
}

.no-leader {
  background-color: cadetblue;
}

.name-user {
  text-transform: capitalize;
}

.center {
  margin: auto;
  
}
